<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>361572344599-m7tpp2pom27h031d2l6bo583hng6tkel.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.361572344599-m7tpp2pom27h031d2l6bo583hng6tkel</string>
	<key>API_KEY</key>
	<string>AIzaSyDGNEYxakwkJSi6y6OmSWdzZJ30m54ywm4</string>
	<key>GCM_SENDER_ID</key>
	<string>361572344599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newbie</string>
	<key>PROJECT_ID</key>
	<string>flutter-hackuniv</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-hackuniv.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361572344599:ios:3705e94ab104bbd75b0d52</string>
</dict>
</plist>